/* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background:#ccc;
  }
  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-thumb {
  background: #9e9e9e;  
  border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover { 
    
  }

/* sidebar scrollbar */
  .slimScrollBar {
    left: 1px!important;
    right: auto !important;
    width: 8px !important;
    background: #fff !important;
  }
/** Custom for Company Dashboard **/
  body{background-color: #f5f5f5 !important}
  .label-count{background-color:hsl(0, 99%, 32%)!important}
  .sidebar{
    background-color: #030d4f !important;
    width: 225px !important; padding-top: 0px!important;
  }
  .sidebar .menu .list a{color:#fff;}
  .sidebar .menu .list a span{
    color: #fff; font-size:15px; font-weight: 500;
  }
  .user-info{
    background: none!important; 
    background-color: #fff !important; 
    height: 110px !important; 
    padding-top:15px !important;
  }
  .sidebar .user-info .info-container .email{
    font-size: 14px!important;
  }
  .sidebar .user-info li a{
    color:#07177c!important;
  }

 .breadcrumb{border-right: #07177c solid 3px;} 
/** #END# Custom **/
/** Basics **/
  a:hover{text-decoration: none;}
  .pointer{cursor: pointer}
  ul{padding-right:0px; }
  .bg-blue{background-color: #07177c !important;}
  /*body{background-color: #eceff1 !important}*/
  .m-5{margin: 5px;}
  .w-80{width: 80%;} .w-30{width: 30%}
  .label{font-weight: 500 !important}
  .input-group .form-control{z-index: inherit !important;}
  .text-white{color: white}
  .bg-white{background-color: white}
  .bg-f5 {background-color: #f5f5f5; border:solid 1px  #ddd; color: #000 !important}
  .breadcrumb-bg-f5 {background-color: #f5f5f5; border:solid 1px  #ddd;}
  .sidebar .menu .list {height: 400px!important}
  .d-inline-block{display: inline-block;}
  .vertical-t{vertical-align: top;}
  .btn-trans{background-color: transparent; box-shadow: none !important;}
  textarea {border-bottom: solid 1px #ddd!important; border-radius: 0px!important; height: 70px!important}
  textarea:focus {border-bottom: solid 1px #66afe9!important;}
  .t-label{font-size: 13px; font-weight: 500}
  .input-group-lg , .input-group {margin-bottom: 0px !important}
  .ml-menu > li >a{padding-top: 0px!important ; padding-bottom: 0px!important;}
  .p-reduce .header ,.p-reduce .body{padding: 5px 10px!important}
  .repeatable-fields-list li{list-style: none}
/** End Basics **/
/** Header **/
  .head-contact{padding-top: 10px; padding-right: 50px;}
  .head-contact li {color: #fff;}
  .head-contact span{
    font-size: 17px;
    line-height: 2;
    vertical-align: top;
  }
  .notificate{width: 450px;} .user-menu{width: 200px;}
  .notificate .menu{
    max-height: 260px;
    overflow-y: scroll;
  }
  .user-menu .header{min-width: 200px!important}
  .user{margin-top: 0px!important; margin-left: 0px!important; padding-top: 5px!important;}
  .user img { border-radius: 50%; }
/** End Header **/


/** dashboard **/
  .alert .call {font-size: 17px; color: #000;}
  .call-btn {position: absolute; left: 30px; top: 8px}
  .call-btn a:hover{color: white; text-decoration: none;}
  .call-btn a{font-size: 14px;}
/** end dashboard **/
/** edit profile **/
  .krajee-default.file-preview-frame .kv-file-content{
    width: 100% !important;
  }

/** end edit profile **/
/** notifications **/
  .notifications {padding: 10px; padding-top: 5px;}
  .notifications h2{font-size: 16px; color: #000; letter-spacing: 1px;}
  .notifications .del{float: left !important; border:none; background:transparent;}
/** End notifications **/
/** ADD **/
  .features{list-style: none;}
  .features .in{color: green} .features .out{color: red}
/** end add **/

/** Responsive **/
  @media (max-width: 1170px){
    .head-navbar > .navbar-left {
      padding-left: 57px !important;
    }
  } 
  @media (max-width: 767px){
    .head-contact{display: none;}
    .ls-closed .bars:after, .ls-closed .bars:before{
      z-index: 999999;
    }
    .head-navbar > .navbar-left {
      position: absolute!important;
      top: 5px!important;
      left: 5px!important;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
      width: 93%;
    }
/** End Responsive **/